$background-color: #15aaaa

.widget-fitbit
  position: relative
  background-color: $background-color

  h1
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100px
    background-image: url("fitbit.png")
    background-position: center 50px
    background-repeat: no-repeat
    background-size: 25%

    span
      display: none

  h2
    display: inline-block
    vertical-align: middle
    font-size: 60px
    font-weight: 400
    text-transform: none

    span.unit
      font-size: 40px

  h3
    width: 100%
    margin-top: 10px
    text-transform: uppercase
    font-size: 15px
    letter-spacing: 2px

  h4
    text-transform: uppercase
    font-size: 12px
    font-weight: 400
    color: lighten($background-color, 10%)

  ul.views
    display: inline-block
    margin: 0
    padding: 0
    height: 120px
    position: relative
    width: 100%

    li
      display: inline-block
      position: absolute
      top: 0
      left: 0
      margin: 0
      padding: 0
      width: 100%
      height: 100%
      opacity: 0
      -webkit-backface-visibility: hidden
      -webkit-animation: slideshow 36s linear infinite 0s
      -moz-animation: slideshow 36s linear infinite 0s
      -o-animation: slideshow 36s linear infinite 0s
      -ms-animation: slideshow 36s linear infinite 0s
      animation: slideshow 36s linear infinite 0s

      &:nth-child(2)
        -webkit-animation-delay: 6s
        -moz-animation-delay: 6s
        -o-animation-delay: 6s
        -ms-animation-delay: 6s
        animation-delay: 6s

      &:nth-child(3)
        -webkit-animation-delay: 12s
        -moz-animation-delay: 12s
        -o-animation-delay: 12s
        -ms-animation-delay: 12s
        animation-delay: 12s

      &:nth-child(4)
        -webkit-animation-delay: 18s
        -moz-animation-delay: 18s
        -o-animation-delay: 18s
        -ms-animation-delay: 18s
        animation-delay: 18s

      &:nth-child(5)
        -webkit-animation-delay: 24s
        -moz-animation-delay: 24s
        -o-animation-delay: 24s
        -ms-animation-delay: 24s
        animation-delay: 24s

      &:nth-child(6)
        -webkit-animation-delay: 30s
        -moz-animation-delay: 30s
        -o-animation-delay: 30s
        -ms-animation-delay: 30s
        animation-delay: 30s

  p
    &.updated-at
      text-transform: uppercase
      letter-spacing: 1px
      font-size: 10px
      color: lighten($background-color, 15%)

  ul
    &.device
      position: absolute
      top: 80px
      right: 0
      left: 0
      text-transform: uppercase
      letter-spacing: 1px
      font-size: 9px
      font-weight: normal
      color: lighten($background-color, 10%)

      li
        display: inline-block
        background-image: url("fitbit-icons.png")
        background-repeat: no-repeat
        white-space: nowrap
        height: 20px
        min-width: 30px
        padding: 5px 0 0 0

        &.version
          background: none
          min-width: 80px

        &.sync
          background-position: left 1px
          padding-left: 15px
          margin: 0 5px

        &.battery-low, &.battery-medium, &.battery-high, &.battery-full
          background-position: left -40px

        &.battery-medium
          background-position: left -60px

        &.battery-high, &.battery-full
          background-position: left -80px


/* Animation for the slideshow images */
@-webkit-keyframes slideshow
  0%
    opacity: 0
    -webkit-animation-timing-function: ease-in

  8%
    opacity: 1
    -webkit-animation-timing-function: ease-out

  17%
    opacity: 1

  25%
    opacity: 0

  100%
    opacity: 0

@-moz-keyframes slideshow
  0%
    opacity: 0
    -moz-animation-timing-function: ease-in

  8%
    opacity: 1
    -moz-animation-timing-function: ease-out

  17%
    opacity: 1

  25%
    opacity: 0

  100%
    opacity: 0

@-o-keyframes slideshow
  0%
    opacity: 0
    -o-animation-timing-function: ease-in

  8%
    opacity: 1
    -o-animation-timing-function: ease-out

  17%
    opacity: 1

  25%
    opacity: 0

  100%
    opacity: 0

@-ms-keyframes slideshow
  0%
    opacity: 0
    -ms-animation-timing-function: ease-in

  8%
    opacity: 1
    -ms-animation-timing-function: ease-out

  17%
    opacity: 1

  25%
    opacity: 0

  100%
    opacity: 0

@keyframes slideshow
  0%
    opacity: 0
    animation-timing-function: ease-in

  8%
    opacity: 1
    animation-timing-function: ease-out

  17%
    opacity: 1

  25%
    opacity: 0

  100%
    opacity: 0
