%h1(class="title")
  %span Fitbit

%span(id="data")
  %ul(class="device")
    %li(data-bind="device.version" class="version")
    %li(data-bind="device.last_sync" class="sync")
    %li(data-bind-class="device.battery | prepend 'battery-' | downcase") &nbsp;

  %ul(class="views")
    %li(data-bind-class="steps.intensity_class | prepend 'steps '")
      %input(class="meter" data-bind-value="steps.meter")
      .icon
      .value(data-bind="steps.today")
      .label steps
      .goal(data-bind="steps.goal | append '% of goal'")
      .bar(data-bind-data-bar-width="steps.goal")

    %li(class="steps_total")
      .value(data-bind="steps.total | shortenedNumber")
      .label lifetime steps

    %li(data-bind-class="calories.intensity_class | prepend 'calories '")
      %input(class="meter" data-bind-value="calories.meter")
      .icon
      .value(data-bind="calories.today")
      .label calories
      .goal(data-bind="calories.goal | append '% of goal'")
      .bar(data-bind-data-bar-width="calories.goal")

    %li(data-bind-class="distance.intensity_class | prepend 'distance '")
      %input(class="meter" data-bind-value="distance.meter")
      .icon
      .value
        %span(data-bind="distance.today")
        %span(data-bind="distance.unit" class="unit")

      .label distance
      .goal(data-bind="distance.goal | append '% of goal'")
      .bar(data-bind-data-bar-width="distance.goal")

    %li(class="distance_total")
      .value
        %span(data-bind="distance.total | shortenedNumber")
        %span(data-bind="distance.unit" class="unit")

      .label lifetime distance

    %li(data-bind-class="active.intensity_class | prepend 'active '")
      %input(class="meter" data-bind-value="active.meter")
      .icon
      .value(data-bind="active.today")
      .label very active minutes
      .goal(data-bind="active.goal | append '% of goal'")
      .bar(data-bind-data-bar-width="active.goal")

%span(id="error")
  .value Uh Oh.
  %p(data-bind="error")

%p(class="updated-at" data-bind="updatedAtMessage")
